<!DOCTYPE html>
<html>
<head>
    <title>Book Library</title>
</head>
<body>

    <h1>Welcome to my book library</h1>

    <h2>I like to read</h2>

    <div>I like books a lot</div>

    <% 2 + 2 %>
</body>
</html>